:root {
  --light-color: rgb(219, 230, 253);
  --medium-color: rgb(133, 162, 206);
  --dark-color: rgb(67, 98, 155);
  --large-font-size: 4rem;
  --medium-font-size: 2.5rem;
  --small-font-size: 1.5rem;
}

* {
  color: var(--dark-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
}

p {
  color: var(--medium-color);
  text-align: justify;
  margin: 1rem;
  font-size: 1rem;
}

h3 {
  color: var(--medium-color);
  font-size: 1.5rem;
  margin: 1rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: 40%;
}

.center-align {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.heading {
  text-align: left;
  font-size: var(--medium-font-size);
  margin: 1.5rem;
  margin-top: 13vh;
  text-shadow: 1.5px 1.5px 2px var(--medium-color);
}

/*main page*/
.main-page {
  background-image: url(/resources/background1.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
}

.opacity-layer {
  background-color: rgb(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
}

.title {
  text-align: center;
  padding-top: 40vh;
  font-size: var(--large-font-size);
  margin: 0;
  text-shadow: 3px 3px 3px var(--medium-color);
}

.subtitle {
  text-align: center;
  font-size: var(--medium-font-size);
  margin: 1rem;
  text-shadow: 1.5px 1.5px 2px var(--medium-color);
}

/*about-us*/
.about-us-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  max-width: 1000px;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 1rem;
  margin: 0;
}

.about-us-item {
  min-width: 300px;
  max-width: 470px;
  margin-top: 1rem;
  padding: 0;
  flex: 25%;
  display: block;
  background-color: white;
  border-radius: 1.5rem;
  height: 35rem;
  overflow: hidden;
}

/*service section*/
.service-banner {
  margin-top: 15vh;
  margin-bottom: 5vh;
  display: flex;
  background-image: url(/resources/background2.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 85vh;
}

.service-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  max-width: 900px;
  justify-content: center;
  gap: 3rem;
  padding: 0 1rem;
  margin: 0;
}

.service-item {
  min-width: 300px;
  max-width: 470px;
  margin-top: 1rem;
  padding: 0;
  flex: 25%;
  display: block;
  background-color: white;
  border-radius: 1.5rem;
  height: 35rem;
  overflow: hidden;
}

/*contact form*/
.contact-container {
  margin-top: 15vh;
  margin-bottom: 15vh;
  display: flex;
  background: url(/resources/img10.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.form-title {
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 10vh;
  font-size: var(--medium-font-size);
  margin: 0;
  text-shadow: 3px 3px 3px var(--medium-color);
}

input {
  background-color: rgb(255, 255, 255, 0.6);
  border: none;
  padding: 0.8rem;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-containers {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  padding: 0 1rem;
  margin: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 45%;
  height: 100%;
  margin: 1.25%;
}

.input-right {
  background-color: rgb(255, 255, 255, 0.5);
  border: none;
  padding: 0.5rem;
  height: 100%;
  line-height: 100%;
  outline: none;
}

button {
  border: none;
  border-radius: 1em;
  background-color: rgb(255, 255, 255);
  width: 8vw;
  padding: 1rem;
  margin: 4rem;
}

button:hover {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

a:hover {
  color: var(--light-color);
}
/*navbar*/
.navbar {
  position: fixed;
  position: top;
  height: 15vh;
  min-height: 60px;
  width: 100vw;
  background-color: var(--dark-color);
  display: none;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  z-index: 1;
  transition: 1s;
}

.active {
  display: flex;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 90vw;
  transition: 1s;
}

i {
  color: white;
  display: flex;
  position: fixed;
  top: 6.5vh;
  right: 5vw;
  z-index: 2;
}

i:hover {
  cursor: pointer;
  color: var(--light-color);
}
